.dark {
  color: white;
  background: black;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  button {
    background: white;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .projectCard{
    background: darkorchid;
  }
}

.light {
  color: black;
  background: white;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  button {
    background: black;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projectCard {
  width: 300px;
  padding: 15px;
  border-radius: 8px;
  background: lightpink;
  text-align: center;
}

div {
  text-align: center;
}

main, footer {
  padding-bottom: 3em;
}

main > section {
  padding: .2em;
}

header {
  padding-bottom: 1.5em;
}